h1 {
  text-align: center;
}

nav {
  padding-left: 50px;
}

.player-card {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  max-width: 33%;
  margin: 15px;
  text-align: center;
}